- if meeting.capacity <= meeting.participanting_users.count
  = "定員に達しました"
- else
  = link_to '参加申請', requestings_path(meeting_id: meeting.id), class: 'btn btn-outline-info btn-raised rounded request-button', method: :post, remote: true 
