#header-notifications {
  width: 400px;
  .dropdown-item {
    max-width: initial;
    font-size: 12px;
  }

  .read {
    background: #f1f1f1;
  }
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.header {
  background-color: blue;
}