.action_plan_card {
  border-bottom: 1px solid rgb(160, 160, 160);
  margin-bottom: 20px;
}

.action_plan_card_inner {
  margin-bottom: 10px;
}

.action_plan_card_book {
  text-align: center;
}

.action_plan_card_notion {
  font-size: small;
  margin-top: 30px;
}

.notion_caution {
  font-size: small;
  color: rgba(78, 206, 95, 0.897);
}