.new-meeting-btn {
  position: fixed;
  bottom: 30px;
  right: 9%;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  background-color: #00ddff;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
  i{
    margin-top: 22px;
  }
}

.meetings-wrapper {
  width: 90%;
  margin: 0 auto;
}

.meetings-card {
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
}

.meetings-body {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.meetings-container {
  width: 500px;
  margin: 100px auto;
}

@media screen and (max-width:500px) {
  .meetings-container {
    width: 100%;
    margin-top: 80px;
  }
}

.meeting-header {
  padding-top: 20px;
  color: black;
}

.meeting-content {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 90%;
  margin: 0 auto;
}

.meetings-info {
  color: rgb(141, 141, 141);
  margin-left: 250px;
}

.meeting-info {
  margin-bottom: 5px;
}

.meeting-date {
  color: rgb(143, 143, 143);
  margin-left: 250px;
}

.messages {
  color: rgb(95, 95, 95);
  font-size: small;
  border-top: 1px solid rgb(223, 223, 223);
}

.meeting-form-container {
  width: 500px;
  margin: 100px auto;
}

@media screen and (max-width:500px) {
  .meeting-form-container {
    width: 100%;
    margin-top: 80px;
  }
}

.meeting-form {
  margin-bottom: 30px;
}

.meeting-title-form {
  margin-bottom: 40px;
}

.twitter-share-link {
  margin-bottom: 20px;
}