.mypage-top {
  margin-top: 20px;
}

.mypage-btn {
  font-size: small;
}

.mypage-name {
  font-size: x-large;
  margin-top: 10px;
}

.mypage-container {
  margin: 0 auto;
  width: 600px;
}

@media screen and (max-width:600px) {
  .mypage-container {
    width: 100%;
  }
}

.mypage-edit-container {
  width: 400px;
  margin: 0 auto;
}

@media screen and (max-width:600px) {
  .mypage-edit-container {
    width: 100%;
  }
}

.follow-button {
  font-size: small;
}

.unfollow-button {
  font-size: small;
}

.users {
  font-size: 18px;
  margin-bottom: 8px;
}

.no-image {
  font-size: 3em;
  margin-left: 15px;
}