.small_title {
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
}

.output_content {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-weight: bold;
}

.book-detail {
  margin: 50px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.outputs-border {
  border-bottom: 1px solid rgb(216, 216, 216);
  margin-bottom: 20px;
}

.output_book {
  margin-bottom: 5px;
  text-align: center;
}

.outputs-heart {
  color: rgb(0, 207, 207);
  font-size: xx-small;
  margin-left: 30px;
  padding-bottom: 10px;
}

.search-form {
  margin-bottom: 30px;
}

.outputs-container {
  width: 600px;
  margin: 100px auto;
}

@media screen and (max-width:600px) {
  .outputs-container {
    width: 100%;
    margin-top: 80px;
  }

  .outputs-search-form {
    width: auto;
  }
}

.submit-button {
  border-radius: 50px;
}

.heart-red {
  color: red;
  // font-weight: 100;
}

.output-card-container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width:600px) {
  .output-card-container {
    width: 100%;
  }
}

.output-buttons {
  text-align: right;
  margin-bottom: 50px;
}

.output-footer {
  width: 90%;
}

// .output-user {
//   text-align: center;
// }